@model IEnumerable<Cine.Models.Filme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.actor)*@
            Actor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @item.Nombre
        </td>
        <td>
            @item.Disponible
        </td>
        <td>
            @item.Genero
        </td>
        <td>
            @item.Pais
        </td>
        <td>
            @item.actor
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilmeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilmeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilmeID })
        </td>
    </tr>
}

</table>
