@model Cine.Models.Filme

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Comprar", "Comprar", new { id = Model.FilmeID }) |
    @Html.ActionLink("Regresar al Listado", "Index")
</p>
