@model IEnumerable<Cine.Models.Filme>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catálogo</h2>

<table class="table pt-1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.Nombre, "Details", new { id = item.FilmeID })
            </td>
            <td>
                @item.Genero
            </td>
            <td>
                @item.Pais
            </td>
            <td>
                @Html.ActionLink("Comprar", "Comprar", new { id = item.FilmeID }, null)
            </td>
        </tr>
    }

</table>
