@model IEnumerable<Cine.Models.Sala>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Número de Sala</th>
        <th>Cantidad de Asientos</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.SalaID</td>
        <td>@item.Asientos</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalaID })
        </td>
    </tr>
}

</table>
